@model IEnumerable<Webbansach.Models.TacGia>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Layout/AdminLayout.cshtml";
}

<div id="content">
    <div id="card">
        <div id="card-header">
            <h3 id="card-title">Danh sách Tác Giả</h3>
            <a href="@Url.Action("ThemTacGia", "QuanLiTacGia")" class="btn btn-primary">Thêm Tác Giả</a>
        </div>
        <div id="card-body">
            <div>
                <table class="table table-bordered">
                    <thead class="text-primary bg-transparent">
                        <tr>
                            <th class="text-center">
                                @Html.DisplayNameFor(model => model.TenTacGia)
                            </th>
                            <th class="text-center">
                                @Html.DisplayNameFor(model => model.DienThoaiTG)
                            </th>
                            <th class="text-center">
                                @Html.DisplayNameFor(model => model.DiaChiTG)
                            </th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td class="text-center">
                                    @Html.DisplayFor(modelItem => item.TenTacGia)
                                </td>
                                <td class="text-center">
                                    @Html.DisplayFor(modelItem => item.DienThoaiTG)
                                </td>
                                <td class="text-center">
                                    @Html.DisplayFor(modelItem => item.DiaChiTG)
                                </td>
                                <td class="text-center">
                                    @Html.ActionLink("Chỉnh sửa", "ChinhSua", new { @MaTacGia = item.MaTacGia }) |
                                    @Html.ActionLink("Hiển thị", "HienThi", new { @MaTacGia = item.MaTacGia }) |
                                    @Html.ActionLink("Xóa", "Xoa", new { @MaTacGia = item.MaTacGia })
                                </td>
                            </tr>
                        }
                    <tbody>
                </table>
            </div>
        </div>
    </div>
</div>
